/* 
se om du kan implemntera p + p nånstans
*/

.container {
  max-width: 904px;
  margin-inline: auto;
}

.sign-up-card {
  background-color: var(--color-white);
  display: flow-root; /* to prevent margin collapse on child (#sign-up-form)*/
}

.hidden {
  display: none;
}

#sign-up-text {
  margin: 40px 24px 40px 24px;
}

#sign-up-text h1,
#sign-up-text p,
ul {
  margin: 0;
}

#sign-up-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#sign-up-text ul {
  padding-left: 0px;
}

#sign-up-text li {
  display: block; /*align li and removes bullet, note: inline-block breaks li column stack*/
  background-image: url(assets/images/icon-list.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 21px 21px;
  padding-left: 37px;
  margin-bottom: 8px;
}

#sign-up-text li:last-child {
  margin-bottom: 0px;
}

#sign-up-form {
  margin: 0 24px 43px 24px;
  display: flex;
  flex-direction: column;
}

#sign-up-form label {
  margin-bottom: 8px;
}

#sign-up-form input {
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 15px 24px;
  margin-bottom: 24px;
}

.btn-style {
  padding: 16px 38px;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  border-radius: 8px;
  text-align: center;
}

#sign-up-form:focus-within #form-submit-btn {
  background: linear-gradient(
    90deg,
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 100%
  );
}

#form-submit-btn:hover {
  color: var(--color-white);
  cursor: pointer;
}

#form-label-wrapper {
  display: flex;
  justify-content: space-between;
}

#error-message {
  margin: 0;
  color: var(--color-red);
}

.hide-error-message {
  display: none;
}

#sign-up-form input:user-invalid {
  border: 1px solid var(--color-red);
  background-color: #ffe7e6;
  color: var(--color-red);
}

.invalid {
  border: 1px solid var(--color-red);
  background-color: #ffe7e6;
  color: var(--color-red);
}

#sign-up-form .invalid {
  border: 1px solid var(--color-red);
}

@media (max-width: 360px) {
  #form-submit-btn {
    font-size: 0.8rem;
  }
}

#sign-up-form input:focus {
  outline: none;
  border: 1px solid var(--color-blue-800);
}

#sign-up-form input:focus:user-invalid {
  border: 1px solid var(--color-red);
}

#sign-up-illustration {
  min-width: 320px;
}

#sign-up-illustration img {
  width: 100%;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .sign-up-card {
    margin: 73px 80px;
    border-radius: 36px;
  }

  #sign-up-illustration {
    margin: 40px;
  }

  #sign-up-illustration img {
    border-radius: 16px;
  }

  #sign-up-text {
    margin: 0 40px 24px 40px;
  }

  #sign-up-text h1 {
    font-size: 56px;
  }

  #sign-up-form {
    margin: 0px 40px 40px 40px;
  }
}

@media (min-width: 1440px) {
  .sign-up-card {
    display: flex;
    gap: 64px;
  }

  #sign-up-illustration {
    order: 2;
    margin: 32px 32px 24px 0px;
    border-radius: 16px;
  }

  .sign-up-content {
    order: 1;
    margin: 32px 0px 24px 32px;
  }

  #sign-up-text {
    margin-top: 71.5px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
    gap: 32px;
  }

  #sign-up-form {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

/* Success message */

#dialog-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

::backdrop {
  background-color: var(--color-white);
  opacity: 1;
}

dialog {
  border: none;
  padding: 0;
  background-color: transparent;
}

#dialog-wrapper {
  padding: 0;
  height: 623px;
  max-width: 327px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid red;
}

#dialog-wrapper p,
#dialog-wrapper h1 {
  margin: 0;
  color: var(--color-blue-800);
}

#success-button {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  ::backdrop {
    background-color: var(--color-blue-800);
  }

  #dialog-wrapper {
    max-width: 504px;
    height: 520px;
    padding: 64px;
    border-radius: 36px;
  }

  #dialog-wrapper h1 {
    font-size: 56px;
  }
}
